.layout {
    overflow: 'hidden';
    color: aqua;
}

.headerStyle {
    color: '#fff';
    height: 50px;
    background-color: rgb(10, 7, 51);
    padding: 0 0;
}

.contentStyle {
    text-align: 'center';
    min-height: 91vh;
    line-height: '120px';
    overflow-y: auto;
    color: '#fff';
    background-color: rgb(10, 7, 51);
}
.contentStyle::-webkit-scrollbar {
    display: none;
}
.siderStyle {
    text-align: 'center';
    line-height: '120px';
    color: '#fff';
    background-color: '#1677ff';
}
